body{
    background-color: #EBE2D6;
    font-family: 'Raleway', sans-serif;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 40px 76px 0;
}

@media (min-width: 601px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 86px;
        margin: 80px 76px;
    }
}

.card-produto{
    background-color: #FFFFFF;
    border-radius: 15px;
    height: 475px;
    width: 372px;
}

.titulo-card{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    font-weight: 600;
}

.fundo-imagem-produto{
    background-color: #D2B48C;
    border-radius: 15px;
    height: 277px;
    width: 316px;
    margin: 0 28px;
}

.imagem-produto{
    margin: 0 36px;
}

.texto-card{
    margin: 30px 28px; 
    display: flex;
}

.coluna-card{
    width: 50%;
}

.preco{
    text-align: end; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    font-size: 22px;
    font-weight: 500;
}

.info-menu{
    display: flex;
    align-items: center;
    margin: 20px;
}

.text-menu{
    font-size: 20px;
    font-weight: 600;
    color: #895D39;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.text-menu:hover {
    color: #be8352;
}

.redes-sociais{
    margin: 45px 76px 0;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .parent {
        width: 100%;
    }
}